<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Blog</display-name>

	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.niko.servlets.HomeServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BlogServlet</servlet-name>
		<servlet-class>com.niko.servlets.BlogServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ViewProfileServlet</servlet-name>
		<servlet-class>com.niko.servlets.ViewProfileServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.niko.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.niko.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.niko.servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletePostServlet</servlet-name>
		<servlet-class>com.niko.servlets.DeletePostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCardServlet</servlet-name>
		<servlet-class>com.niko.servlets.DeleteCardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCardServlet</servlet-name>
		<servlet-class>com.niko.servlets.AddCardServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.niko.servlets.UploadServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GalleryServlet</servlet-name>
		<servlet-class>com.niko.servlets.GalleryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BlogServlet</servlet-name>
		<url-pattern>/BlogServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ViewProfileServlet</servlet-name>
		<url-pattern>/ViewProfileServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePostServlet</servlet-name>
		<url-pattern>/DeletePostServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCardServlet</servlet-name>
		<url-pattern>/DeleteCardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCardServlet</servlet-name>
		<url-pattern>/AddCardServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GalleryServlet</servlet-name>
		<url-pattern>/GalleryServlet</url-pattern>
	</servlet-mapping>

	<filter>
	<filter-name>AuthenticationFilter</filter-name>
	<filter-class>com.niko.filters.AuthenticationFilter</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>AuthenticationFilter</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.niko.listeners.ApplicationListener</listener-class>
	</listener>
	
	<welcome-file-list>
	<welcome-file>/HomeServlet</welcome-file>
	</welcome-file-list>

</web-app>
